.projects-section {
    padding: 2rem;
    background-color: #000;
  }
  
  .projects-title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0rem;
    margin: 2rem 5rem;
  }
  
  .project-card {
    margin: 1rem 1rem;
    background: #191919;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px 0px;
  }
  
  .project-image {
    width: 100%;
    height: 250px;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    object-fit: cover;
    box-shadow: rgba(113, 113, 113, 0.259) 0px 7px 150px 0px;
  }
  
  .project-content {
    padding: 0.9rem;
  }
  
  .project-title {
    font-family: 'inter', sans-serif;
    font-size: 1.25rem;
    color: #ccc;
    margin-bottom: 0.2rem;
  }
  
  .project-description {
    font-family: 'inter', sans-serif;
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 0.6rem;
  }
  
  .project-technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .tech-icon {
    width: 25px;
    height: 25px;
    transition: transform 0.2s ease;
    cursor: pointer;
  }
  
  .tech-icon:hover {
    transform: scale(1.2);
  }
  
  @media (max-width: 1280px) {
    .projects-section {
      margin-top: 4rem;
      padding: 1rem 16rem;
    }

    .project-image {
      width: 100%;
      height: 290px;
      object-fit: cover;
      box-shadow: rgba(113, 113, 113, 0.259) 0px 7px 150px 0px;
    }
    
    .projects-grid {
      grid-template-columns: 1fr;
      padding: 0rem;
      margin: 0rem;
    }

  }

  @media (max-width: 1024px) {
    .projects-section {
      margin-top: 4rem;
      padding: 1rem 12rem;
    }

    .project-image {
      width: 100%;
      height: 250px;
      object-fit: cover;
      box-shadow: rgba(113, 113, 113, 0.259) 0px 7px 150px 0px;
    }
    

    .projects-grid {
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
      margin: 0;
    }
  }
  
  @media (max-width: 768px) {

    .projects-section {
      margin-top: 4rem;
      padding: 1rem 6rem;
    }

    .project-image {
      width: 100%;
      height: 250px;
      object-fit: cover;
      box-shadow: rgba(113, 113, 113, 0.259) 0px 7px 150px 0px;
    }
    

    .projects-grid {
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
      margin: 0;
    }
  }
  
  @media (max-width: 480px) {

    .projects-section {
      margin-top: 4rem;
      padding: 0.1rem;
    }

    .project-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      box-shadow: rgba(113, 113, 113, 0.259) 0px 7px 150px 0px;
    }
    
    .projects-grid {
      grid-template-columns: 1fr;
      padding: 0rem;
      margin: 0rem;
    }

  }