.hero-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10.8em;
}

.hero-text-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title {
    font-family: 'poppins';
    font-weight: 100;
}

.hero-subtitle {
    display: flex;
    position: absolute;
    font-family: 'inter';
    font-weight: 600;
}

.hero-image {
    position: absolute;
    top: 14em;
    margin: 70px;
    width: 70%;
    border-radius: 1.4em;
}

.hero-title-projects {
    margin-top: 15em;
    font-family: 'poppins';
    font-weight: 100;
}