.hero-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10.8em;
}

.hero-text-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title {
    font-family: 'poppins';
    font-weight: 100;
}

.hero-subtitle {
    font-family: 'inter';
    font-weight: 600;
}


.hero-image {
    position: absolute;
    top: 14em;
    margin: 70px;
    width: 65%;
    border-radius: 15px;
    box-shadow: rgba(207, 207, 207, 0.177) 0px 7px 109px 0px;
}
