.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000000c8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px 0px, rgba(0, 0, 0, 0.5) 0px 5px 25px 0px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1000;
}

.navbar-logo {
    padding: 0 0 0 20px;
    font-family: 'inter';
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
}


.navbar li {
    float: left;
    display: block;
    color: #939393;
    text-align: center;
    padding: 14px 16px;
}

.navbar a {
    color: #939393;
    text-decoration: none;
    cursor: pointer;
}

.hamburguer {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.navbar-menu {

}

.navbar-menu.open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000c8;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px 0px, rgba(0, 0, 0, 0.5) 0px 5px 25px 0px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999;
    animation: slideDown 0.5s ease-in-out forwards;
}

@media screen and (max-width: 768px) {
    .hamburguer {
        display: block;
    }

    .navbar-menu {
        position: fixed;
        top: -50px;
        left: 0;
        width: 100%;
        height: auto; 
        background: #000000eb;
        z-index: 998;
        animation: slideDown 0.5s ease-in-out forwards;
    }

    .navbar-menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .navbar-logo {
        font-size: 1.2rem;
        padding-left: 0;
    }

    .navbar {
        padding: 1.2rem 1rem;
        justify-content: space-between;
    }
}

@media screen and (min-width: 769px) {
    .navbar-menu {
        display: block;
    }

    .hamburguer {
        display: none;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(45%);
        opacity: 1;
    }
}