.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 250px;
}

.navbar span {
    font-weight: bold;
}

.navbar li {
    font-size: 15px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.logo {
    font-size: 27px; 
    font-weight: 300;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(267deg, #00f261c9, #0575e6, #ea00ffa9);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative; 
    display: inline-block; 
  }

  .logo::before {
    content: 'Kiel'; 
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: -1;
    color: rgba(0, 0, 0, 0.2); 
    filter: blur(4px); 
  }

  .hamburguer {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }

  @media (max-width: 1024px) {
    .navbar {
        margin: 30px 100px;
    }

    .nav-menu {
        gap: 40px;
        font-size: 18px;
    }

    .logo {
        font-size: 24px;
    }
}

@media (max-width: 768px) {

    .hamburguer {
        font-size: 17px;
        cursor: pointer;
        display: block;
      }

    .navbar {
        flex-direction: row;
        margin: 20px; 
    }

    .nav-menu {
        position: absolute;
        top: 70px;
        left: 0;
        background: #191919ea;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 40px 0;
        transform: translateX(-140%);
        transition: transform 0.5s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .nav-menu.open {
        transform: translateX(0);
    }

    .logo {
        font-size: 22px;
    }
}

@media (max-width: 480px) {

    .hamburger {
        display: block;
    }

    .navbar {
        margin-top: 30px;
    }

    .nav-menu {
        gap: 10px;
        font-size: 14px;
    }

    .logo {
        font-size: 20px;
    }
}